/* Page element styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    text-align: center;
  }

  .dropdown {
    font-size: 12px;
    transform: rotate(90deg);
    padding:5px;
    color: var(--color-bars);
    background-color:#222831;
    border-radius: 4px;
  }
}

/* Page element styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  .DataModifier {
    color: white;
    font-size: 14pt;
    border-left: 3px solid #ffffff;
    background-color: #475469;
    height: 94vh;
    z-index: 100;
  }
  .dropdown {
    display: none;
  }
}

.DateInput {
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
  color: black;
  font-size:18px;
  background: var(--color-bars);
  border-radius: 4px;
  width: 90%;
  height: 35px;
  padding: 6px 0px 6px 0px;
  margin: 5px 0px 5px 0px;
}

.DateInfo {
  display: flex;
  color: white;
  justify-content: center;
}

.data-source {
  color: black;
  font-size: 8pt;
  font-weight: 800;
}

.form-title {
  padding: 10px 0px 10px 0px;
  font-size: 18pt;
  font-weight: 700;
  color: var(--color-bars);
}
