/* Page element styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  li {
    list-style: none
  }

  .DataModifier-mobile {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 14pt;
    background-color: #475469;
    top: 15%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .DataModifier{
    display: none;
    transition: all 0.5s ease;
   }

  .date-input {
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-size:18px;
    background: var(--color-bars);
    border-radius: 4px;
    padding: 6px 0px 6px 0px;
    margin: 5px 0px 5px 0px;
  }

  .DateInfo {
    display: flex;
    color: white;
    justify-content: center;
  }
}

/* Page element styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  li {
    list-style: none
  }

  .DataModifier {
    display: flex;
    color: white;
    font-size: 14pt;
    background-color: #475469;
  }

  .date-select {
    display: inline-block;
  
  }
  .date-input {
    background: var(--color-bars);
    border-radius: 4px;
    height: 35px;
    padding: 4px;
    margin: 4px;
  }

  .DateInfo {
    display: flex;
    color: white;
    justify-content: center;
  }
}
