/* Page element styling for smartphones and tablets */
@media only screen and (min-width: 300px) {
  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    text-align: center;
  }
}

/* Page element styling for larger tablets and computers */
@media only screen and (min-width: 769px) {
  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: right;
    padding-left: 30px;
  }
}

.DateInputContainer {
  flex: row;
  align-items: center;
  display: inline-block;
  color: black;
  font-size:18px;
  background: var(--color-bars);
  border-radius: 4px;
  width: 520px;
  height: 35px;
  padding-top: 6px;
  margin: 5px 0px 5px 0px;
}

.DateInput {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}

.DateInfo {
  display: flex;
  color: white;
  justify-content: center;
}
