/* Global CSS variables declared */
:root {
  --bg-color-page: #222831;
  --bg-color-barchart: #30475E;
  --color-bars: #F2A365;
}

/* Selection pseudo-element styling for when a page element is highlighted */
::selection {
  color: black;
  background: white;
}

/* Styling properties applied to entire page */
html, body, #root, .App {
  height: 100%;
  background: var(--bg-color-page);
  font-family: 'Raleway';
}

/* For smartphones and tablets */
@media only screen and (min-width: 300px) {
  .title {
    color: #F2A365;
    font-size: 24pt;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  .subtitle {
    color: white;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
  }

  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
    text-align: center;
  }

  .map-container {
    display: flex;
    flex-direction: column-reverse;
    z-index: -1;
  }

  .map {
    height: 52vh; 
    width: 100%
  }

  .sidebar {
    height:40%;
    background-color: #475469;
  }

  .dropdown {
    font-size: 12px;
    transform: rotate(90deg);
    padding:5px;
    color: var(--color-bars);
    background-color:#222831;
    border-radius: 4px;
    margin-left: 5px;
  }
}

/* For larger tablets and computers */
@media only screen and (min-width: 769px) {

  .title-block {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    height: 5vh;
  }

  .title {
    color: #F2A365;
    font-size: 24pt;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 24px;
    margin-top: 20px;
  }

  .subtitle {
    color: white;
    font-size: 12pt;
    font-style: italic;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10.72px;
  }

  .DataModifier {
    color: white;
    font-size: 18pt;
    text-align: left;
    padding-left: 30px;
  }

  .map-container {
    display: flex;
    flex-direction: row;
    z-index: -1;
  }

  .map {
    height: 94vh; 
    width: 80%
  }

  .sidebar {
    width:20%;
    min-width: 300px;
    height:94vh;
    border-left: 3px solid #ffffff;
  }

  .dropdown {
    display: none;
  }
}

/* CSS transition styling */
.BarChart-bar:hover {
  background: #d6c7bb;
  transform: scale(1.05, 1);
}

.PageNav {
    display: flex;
    justify-content: center;
    color: white;
}

.PageNav-control {
    color: white;
    padding: 0;
    border: none;
    background: none;
}

.PageNav-control:hover {
  color: #F2A365;
  transform: scale(1.02, 1);
}


.PageNav-position {
   margin: 0px 20px 0px 20px;
}

.pin-icon {
  font-size:18pt;
}

.cluster-point {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10pt;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7pt;
}

.form-title {
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  font-size: 18pt;
  font-weight: 700;
  color: var(--color-bars);
}

.data-source {
  color: black;
  font-size: 8pt;
  font-weight: 800;
  height: 12px;
}
